div#graph svg {
	width: 100%;
	height: 400px;
	cursor: all-scroll;
}
div#graphDebug {
	font-family: monospace;
	padding: 1ex;
}
.axis {
	stroke: red;
	stroke-width: 0.2;
}
g.hidden {
	display: none;
}
.hover {
	stroke : yellow !important;
}
.selected {
	fill : #0af !important;
}
.selected.link {
	stroke : #0af !important;
}
.highlight {
	stroke : orange !important;
}
.withOpacity {
	opacity: 0.2;
}
.shadowN {
	-webkit-filter: drop-shadow(0px 1px .5px rgba(0,0,0,0.5));
	filter: drop-shadow(0px 1px .5px rgba(0,0,0,0.5));
}

.shadowE {
	-webkit-filter: drop-shadow(0px 1.5px .5px rgba(0,0,0,0.5));
	filter: drop-shadow(0px 1.5px .5px rgba(0,0,0,0.5));
}
/* Texts */
g.texts {
	font: 4px monospace;
	pointer-events: none;
}

/* Nodes */
circle.nodeBG {
	fill:#888;
	fill: #364E64;
}
.extText {
	fill: white;
	font-size: 6px;
	cursor: pointer;
	font-family: monospace;
}
.tools circle {
	fill: #dddddd;
}

/* Links */
g.edges {
}
line {
	transition: stroke 80ms ease;
	stroke: #364E64;
	stroke-width: 1.2;
	cursor: alias;
}
.link {
	stroke: #364e64;
	stroke-width: 1;
	cursor: alias;
}
#arrowD {
	fill: #364E64;
}
#arrowO {
	fill: yellow;
}
#arrowS {
	fill: #0af;
}
#arrowH {
	fill: orange;
}
marker#arrowTimealert {
	fill: red;
}
line.timealert {
	stroke: red;
/*
	animation: blinker 1s linear infinite;
*/
	-webkit-animation: blinker 1s linear infinite;
}
/*
line.red marker {
	fill: red !important;
}
*/
/*line:hover {
	stroke: #a3330a;
}*/

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}


/***


NEW

***/


.node {
}

.node.vol,
.node.sit {
fill: lightgreen;
}

.trk {
	fill: lightblue;
}

.node.hub {
	fill: green;
}
.node.usr {
	fill: pink;
}
