/*
#grid {
	width: 10px;
	height: 10px;
}

#smallGrid {
	width: 1px;
	height: 1px;
}

.smallGridPath {
	stroke: gray;
	stroke-width: 0.1;
}

.gridPath {
	stroke: gray;
	stroke-width: 0.2;
}

.gridRect {
	width: 10px;
	height: 10px;
}

.gridSurf {
	width: 100%;
	height: 100%
}
*/

.icon {
	width: 2px;
	height: 2px;
}

