body {
	margin: 0;
}

div#graphDebug {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events:none;
}

svg {
	width: 100%;
	height: 400px;
	cursor: all-scroll;
}

.static {
	width: 100%;
	height: 50px;
	
}

.axis {
	stroke: red;
	stroke-width: 0.2;
}

circle {
	transition: opacity 100ms ease;
/*
	stroke: #364E64;
	stroke-width: 0.1;
*/
	cursor: pointer;
}

.selected {
	stroke: red;
	stroke-width: 1;
}

circle.asset {
/*
	stroke: red;
*/
}

line {
	transition: stroke 80ms ease;
	stroke: #364E64;
	stroke-width: 1.2;
	cursor: alias;
}
/*
#markerArrow {
*/
marker {
	fill: #364E64;
}
marker#arrowTimealert {
	fill: red;
}
line.timealert {
	stroke: red;
/*
	animation: blinker 1s linear infinite;
*/
	-webkit-animation: blinker 1s linear infinite;
}
/*
line.red marker {
	fill: red !important;
}
*/
line:hover {
	stroke: #a3330a;
}

circle:hover {
	opacity: 0.7;
}
@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
