svg#svggraph {
	background-color: gray;
}
.texts text {
	fill:white;
}
.nodeBG {
        stroke: #fff;
        stroke-width: 1px;
        -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}

